<%if signed_in?%>
  	<p class="row large-12 large-offset-2 zabbix"> <%= zab("osr-redis2") %>  </p>
  	<br>
  	<p class="row large-12 large-offset-2 zabbix"> <%= zab2("osr-redis2") %> </p>
 
<% else %>
	<div id="time" class="row large-12 large-offset-1  ">
	 	 The current time is <%= Time.now  %>
	</div>
	<br>
	<div id="ts" class="row large-12 large-offset-5  ">

		 <%= link_to 'Update Time', data: {Url: sight_index_path(@time)} %> 

	</div>
<%end%>