// Custom layout styles
// Default font family
@font-face {
  font-family: 'gotham-rounded';
  src: url(gotham-rounded-medium.otf);
}
// Body background
body {
  background-color:#FAFAFA;
  background-position: center;
  
}
// Logo
.title-area{
  a { padding:0 !important }
  i {
    font-size: 30px;
    position: relative;
    top: 3px;
  }
}
// Topbar items
.top-bar-section ul li { background: transparent }
// Forms
.form-container {
  padding: 3% 0%;
  .switch > div {
    position: relative;
    top: -5px;
  }
}

#time{padding: 13% 3%;
      font-size: 30px;
      color: #0C0CFF;
      }

.zabbix{ font-size: 20px;
         color: #0C0CFF; 
            
        }